:root{
    --crl-primary-dark-blue: hsl(233, 47%, 7%);
    --crl-primary-Dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
    --crl-primary-Soft-violet-accent: hsl(277, 64%, 61%);
    --crl-neutral-purple: hsl(278, 59%, 28%);

    --crl-neutral-white: hsl(0, 0%, 100%);
    --crl-neutral-main-paragraph: hsla(0, 0%, 100%, 0.75);
    --crl-neutral-stat-headings: hsla(0, 0%, 100%, 0.6);

    --ff-accent-inter: 'Inter', sans-serif;
    --ff-accent-lexend: 'Lexend Deca', sans-serif;

    --fw-Regular-inter: 400;
    --fw-Regular-lexend: 400;
    --fw-bold-inter:700;
}
body{
    background-color: var(--crl-primary-dark-blue);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    place-content: center;
    margin: auto;
}
.product{
    background-color: var(--crl-primary-Dark-desaturated-blue-card-background);
    align-items: center;
    margin: 2rem 2.5rem 2rem 2.5rem;
    overflow: hidden;
    border-radius: 0.7rem;
    
}
.image-desktop{
    display: none;
}
.image-mobile{
    position: relative;
}
.image-image{
    width:100%;
}
.image-tint{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 10;
    background-color: var(--crl-neutral-purple);
    opacity: 0.7;
}
.hclass{
    text-align: center;
    display: inline;
    color: var(--crl-neutral-white);
    font-family: var(--ff-accent-lexend);
    font-weight: var(--fw-Regular-lexend);
}
.main-info{
    color: var(--crl-neutral-main-paragraph);
    text-align: center;
    font-weight: var(--fw-Regular-inter);
    font-family: var(--ff-accent-inter);
    word-spacing: 3px;
    line-height: 1.5em;
}
.statistics{
    display: block;
    text-align: center;
}
.first{
    padding: 0.1rem;
    line-height: 1em;
}
.main{
    color: var(--crl-neutral-white);
    font-family: var(--ff-accent-inter);
    font-weight: var(--fw-bold-inter);
    margin-bottom: 1mm;
}
.secondary{
    text-transform: uppercase;
    color: var(--crl-neutral-stat-headings);
    font-family: var(--ff-accent-inter);
}
@media(min-width: 700px){
    .product{
        grid-template-columns: 1fr 1fr;
        display: flex;
        flex-direction: row-reverse;
    }
    .image-mobile{
        display: none;
    }
    .image-desktop{
        display: block;
        position: relative;
    }
    .info{
        width: 500px;
    }
    .info__class{
        margin: 3rem;
    }
    .statistics{
        display: flex;
        justify-content: space-between;
    }
    .hclass{
        text-align: left;
    }
    .main-info{
        text-align: left;
    }
}
